*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5px;
    background-color: aquamarine;
}

.hov{
    height: 50px;
    width: 100px;
    border-radius: 10%;
    background-color: rgb(8, 114, 79);
}
.foc{
    height: 50px;
    width: 100px;
    border-radius: 10%;
    background-color: rgb(54, 171, 132);
}

.clk{
    height: 50px;
    width: 100px;
    border-radius: 10%;
    background-color: rgb(54, 171, 132);
    
}
.hov:hover{
    transform: translatey(5px);
    background-color: rgb(5, 229, 158);
}

.foc:focus {
    border: 4px solid;
    border-image: linear-gradient(45deg, red, blue) 1;
    background-color: rgb(67, 105, 92);
    color: aliceblue;
  }

  .clk:active {
    transform: scale(0.95); /* button slightly shrinks */
    background-color: #ccc;  /* change color */
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2);
}



