:root {
    --primary: #f8a528;
    --dark: #000;
    --light: #fff;
    --danger: #ff4d4d;
    --radius: 8px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .hero {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
  }
  
  .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
  }
  
  .banner-img {
    width: 100%;
    height: auto;   /* prevents cropping */
    display: block;
  }
  
  /* Logo stays absolute */
  .center-logo {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    border-radius: 50%;
    background-color: transparent;
  }
  
  
  /* Top Navigation Bar */
  .top-bar {
    position: absolute;
    top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 10;
  }
  
  .left-info,
  .right-info {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .btn {
    background: var(--primary);
    padding: 10px 18px;
    border-radius: var(--radius);
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: var(--light);
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  /* Cart */
  .cart {
    position: relative;
    cursor: pointer;
    color: var(--primary);
  }
  
  .cart svg {
    width: 32px;
    height: 32px;
  }
  
  .count {
    position: absolute;
    top: -6px;
    right: -8px;
    background: var(--danger);
    color: var(--light);
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
  }

nav{
  background-color: var(--primary);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  margin-top: -50px;
}
nav>ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin-top: 10px;
}
nav>ul>li{
  list-style: none;
  font-weight: bold;
  font-family: sans-serif;
  padding: 8px;
}

nav>ul>li:hover{
  background-color: #000;
  color: var(--primary);
  border-radius: 5px;
}

.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden;
}

.input-wrapper {
  border: 2px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  border-radius: 20px;
  padding: 5px;
}

.input-wrapper > .arrow{
  height: 30px;
  width: 5%;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.input-wrapper > .arrow > img{
  height: 25px;
  width: 80%;
  transform: rotate(180deg);
}
.input-container > .input-wrapper > input{
  height: 30px;
  width: 95%;
  border: none;
  outline: none;
}

.input-container > .input-wrapper > input::placeholder{
  font-size: 16px;
  color: var(--primary);
}









