*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 0;
}
.container-1{
    width:100vw;
    height:100vh;
    background-color: rgb(29, 172, 172);
}

.container-2{
    width:100vw;
    height:100vh;
    background-color: rgb(114, 25, 149);
}
.container{
    position: absolute;
    margin: 0;
    padding: 0;
}
.top{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 80vw;
    left: 90vw;
}



